.mdl-layout__header {
  .mdl-layout__header-row {
    padding: 0 16px 0 112px;
  }

  .mdl-layout__drawer-button {
    &.ascii-faces-logo {
      width: 96px;
      line-height: 46px;
      font-family: "Roboto","Helvetica","Arial",sans-serif;
    }
  }

  .mdl-button .mdl-badge[data-badge]::after {
    top: -14px;
    right: -12px;
  }

  .shopping-cart-button {
    width: 48px;
    height: 48px;
    overflow: auto;
  }
}
