.welcome {
  margin: 32px;

  & > .text {
    max-width: 800px;
    margin: auto;

    p {
      font-size: 16px;
    }
  }

  & > .ad {
    margin: auto;
    text-align: center;

    .mdl-cell {
      margin: auto;
      text-align: left;
    }

    button {
      margin: 32px;
    }
  }
}
